body {
  font-family: Georgia, serif;
}

.kozep {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.title {
  float: left;
  display: block;
  font-size: 26px;
  color: #E7EBE0FF;
  margin-right: 50px;
}

.footer {
  display: block;
  font-size: 36px;
  color: #E7EBE0FF;
}

.article {
  padding-top: 123px;
}


.bg-navbar {
  background-color: #7DB46CFF;
}

.form-control {
  margin-bottom: 10px;
}

.form-select {
  margin-bottom: 10px;
}

button {
  margin-bottom: 10px;
}

.widehardo {
  width: 25%;
}

header {
  position: fixed;
  background: #7DB46CFF;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 3px solid #ABD6DFFF;
}

footer {
  position: fixed;
  background: #7DB46CFF;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 3px solid #ABD6DFFF;
}

@media (max-width: 480px) {
  .hidden-xs {
    display: none !important;
  }

  .widehardo {
    width: 100%;
  }
}
